table.table-cv {
  background-color: rgba(0, 0, 0, 0) !important;
}

table.table-cv td,
table.table-cv th {
  padding: 1px;
}

p.location {
  font-size: 0.7rem;
  white-space: nowrap;
}

i.iconlocation {
  color: var(--global-theme-color);
  font-size: 0.8rem;
}

div.list-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}

a.anchor {
  position: relative;
  top: -50px;
  display: block;
  visibility: hidden;
}

ul.timeline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul.timeline li {
  position: relative;
  min-height: 2.2rem;
  color: var(--global-text-color);
  list-style-position: inside;
}

ul.timeline li::before {
  position: absolute;
  top: -0.5rem;
  left: 2px;
  width: 1px;
  min-height: 2.5rem;
  padding: 0;
  margin: 0;
  content: "";
  background: var(--global-text-color);
}

@media (min-width: 768px) {
  .cv .date-column {
    text-align: left !important;
  }
}
